@import "tailwindcss";

:root {
  --background: #06121f;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06121f;
    --foreground: #ededed;
  }
}

body {
  @apply bg-[#06121f] text-gray-200;
}